/*
Source - https://stackoverflow.com/a
Posted by Kyle, modified by community. See post 'Timeline' for change history
Retrieved 2025-12-09, License - CC BY-SA 4.0
*/

.mainRunner {
  border: 1px solid #000;
  top: 0;
  left: 0;
}

.img1 {
  border: 1px solid #f00;
  position: relative;
  z-index: 2;
  top: 0;
  left: 1000px;
}

.img2 {
  border: 1px solid #0f0;
  position: absolute;
  z-index: 1;
  top: 500px;
  left: 1000px;
}