<style>
.mainRunner {
  /* border: 1px solid #000; */
  top: 50px;
  left: 30%;
  height: 80%;
  width: 26%;
  position: relative;
}

.img1 {
  /* border: 1px solid #f00; */
  position: relative;
  z-index: 2;
  top: 30%;
  left: 0;
}

.img2 {
  /* border: 1px solid #0f0; */
  position: absolute;
  z-index: 1;
  top: 0;
}
</style>

<head>
    <div>
        <label for="avatar">Place a flower:</label>
        <form method="POST" action="{{ url_for('gumi') }}" enctype="multipart/form-data">
            <input type="file" id="flower" name="flower" accept="image/png, image/jpeg" required>
            <button type="submit"> Submit </button>
        </form>

        <form method="POST" action="{{ url_for('logout') }}">
            <!-- logout -->
            <button type="submit"> Logout </button>
        </form>
    </div>
    <div>
        Logged in as {{un}}
    </div>
    <div class="mainRunner">
        {% if loaded == 1 %}
            <img src="../static/vase.png" alt="Vase 1" class="img1" width="500px">
            <img src="{{flowerlink}}" alt="Flower" class="img2" height="500px" width="500px">
        {% else %}
            <img src="../static/vase.png" alt="Vase 1" class="img1" width="500px">
        {% endif %}
    </div>


</head>