<!DOCTYPE html>
<html lang="en">

<head>
    <title>Page Title</title>
</head>

<body>
    <!-- Login Form Code -->
    <form method="POST" action="{{ url_for('login') }}">
        <!-- Username -->
        <label for="first">Username:</label>
        <input type="text" id="username" name="username" placeholder="Enter your Username" required>
        <!-- Password -->
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Enter your Password" required>
        <!-- Submit -->
        <button type="submit"> Submit </button>
    </form>
    <!-- Register -->
    <!-- <form action='/register' method="POST"></form> -->
    <p>
        Not registered?
        <a href="/inbetween" style="text-decoration: none;">Create an account</a>
    </p>
</body>

</html>